.Kahoot {}

.shad{
    box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.618);
}

.input::placeholder {
    color: gray;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .myButton{
    transition: all 0.5s;
  }

  .myButton:hover{
    background-color : #4c0082ea !important;
}