.shad {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popupWidth {
  width: 500px;
  max-width: 90%;
}

.crsr {
  cursor: pointer;
}

.bg-main {
  background-color: #4e73df;
}

.mainColor {
  color: #4e73df;
}