.Settings {}

.shad{
    box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.618);
}


.line{
    position: relative;
}

.line::after{
    content: '';
    background-color:#4B0082;
    height: 3px;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 12px;
}